PORT=3000
NODE_ENV=development
DATABASE_URL="postgresql://user:password@localhost:5432/smart_traffic?schema=public"
JWT_SECRET="your_jwt_secret_key"
JWT_EXPIRATION="1d"
JWT_REFRESH_SECRET="your_refresh_token_secret"
JWT_REFRESH_EXPIRATION="7d"
